doctype html
html
  head
    title ISOGram - Customize Google Analytics Code
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='main.css')

  body
    .wrapper

      //- left
      .input
        .headings
          h1.isogrammer ISOGRAM
          h3.tagline Customize your Google Analytics Code
        input#isogram-input(placeholder="isogram", maxlength="7", autofocus)
        p#warning

        p.credits by&nbsp;
          a(href="https://whe.me", target="_blank") Wei&nbsp;|&nbsp;
          a(href="https://github.com/wei/isogram", target="_blank") source&nbsp;|&nbsp;
          a(href="https://twitter.com/jaxgeller", target="_blank") Thanks @jaxgeller&nbsp;|&nbsp;
          a.what-is-this(href="https://en.wikipedia.org/wiki/Isogram", target="_blank") What&apos;s an isogram?

      //- right
      .script-output
        #output-top
        pre#output-bottom

      p.credits-mobile by&nbsp;
        a(href="https://whe.me", target="_blank") Wei&nbsp;|&nbsp;
        a(href="https://github.com/wei/isogram", target="_blank") source&nbsp;|&nbsp;
        a(href="https://twitter.com/jaxgeller", target="_blank") Thanks @jaxgeller
        br
        a.what-is-this(href="https://en.wikipedia.org/wiki/Isogram", target="_blank") What&apos;s an isogram?

    script(src="main.js")

    script.
      !function(){var t;if(!(t=window.driftt=window.drift=window.driftt||[]).init)t.invoked?window.console&&console.error&&console.error("Drift snippet included twice."):(t.invoked=!0,t.methods=["identify","config","track","reset","debug","show","ping","page","hide","off","on"],t.factory=function(e){return function(){var n;return(n=Array.prototype.slice.call(arguments)).unshift(e),t.push(n),t}},t.methods.forEach(function(e){t[e]=t.factory(e)}),t.load=function(t){var e,n,i;i=3e5*Math.ceil(new Date/3e5),(n=document.createElement("script")).type="text/javascript",n.async=!0,n.crossorigin="anonymous",n.src="https://js.driftt.com/include/"+i+"/"+t+".js",(e=document.getElementsByTagName("script")[0]).parentNode.insertBefore(n,e)})}(),drift.SNIPPET_VERSION="0.3.1",drift.load("inhgwis639xz");
      !function(W,e,i,H,E){W.GoogleAnalyticsObject=i;W[i]||(W[i]=function(){
      (W[i].q=W[i].q||[]).push(arguments)});W[i].l=+new Date;H=e.createElement('script');
      E=e.scripts[0];H.src='//www.google-analytics.com/analytics.js';
      E.parentNode.insertBefore(H,E)}(window,document,'ga');
      ga('create', 'UA-18952818-16', 'auto');
      ga('send', 'pageview');
